<link href="component/pageslide/sb-admin-2.css" rel="stylesheet">

    <!-- /.navbar-top-links -->
    <div class="sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse mobile_status">
            <ul class="nav" id="side-menu">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img class="img-circle" alt="User Image" onerror="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&amp;bg=DD4B39&amp;txtclr=ffffff&amp;txt=A&amp;w=45&amp;h=45&amp;txtsize=16'" src="ecb72a73926c6c0fc3a599dae43203e7.png">
                    </div>
                    <div class="pull-left info">
                        <p class="ng-binding">
                            lixinying
                        </p>
                        <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <li class="first_level" ng-class=" {active:$index == selected}" ng-click="select($index)" ng-repeat="menu in menuItems">
                    <a href=""><i class="fa fa-{{menu.icon}}"></i> <span class="menu">{{menu.title}}</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse " ng-class="{in:$index == selected}">
                        <li><a href="backendProduct" ng-repeat="secondmenu in menu.second_menu">{{secondmenu.title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
